@import '../../../assets/styles/variables.scss';
.queueBlock {
   min-height: 50vh;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   justify-content: space-between;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   padding-bottom: 20px;
   gap: 50px;

   .head {
      border-bottom: 1px solid #d7d7d7;
      p {
         color: #2b2b2b;
         font-family: $Inter;
         font-size: 24px;
         font-weight: 600;
         line-height: 20px;
         padding: 20px;
      }
   }

   .body {
      padding-inline: 20px;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;

      div {
         cursor: pointer;
         border-radius: 20px;
         border: 1px solid #5c5c5c;
         background: linear-gradient(
            179deg,
            rgba(140, 202, 221, 0.19) 42.71%,
            rgba(140, 202, 221, 0) 100%
         );
         display: flex;
         width: 364px;
         height: 121px;
         padding: 0px 47px 0px 46px;
         justify-content: center;
         align-items: center;
         flex-shrink: 0;
         color: var(--unnamed, #2b2b2b);
         font-family: $Inter;
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: 26px;
         transition: 0.3s;
         -webkit-transition: 0.3s;
         -moz-transition: 0.3s;
         -ms-transition: 0.3s;
         -o-transition: 0.3s;

         &:hover {
            background: linear-gradient(
               179deg,
               rgba(116, 167, 183, 0.19) 42.71%,
               rgba(85, 123, 136, 0) 100%
            );
         }
      }
   }
   .footer {
      padding-inline: 20px;
      display: flex;
      justify-content: flex-end;

      button {
         background-color: #1e4a89;
         font-family: $Inter;
         color: white;
         border: none;
         border-radius: 10px;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         -ms-border-radius: 10px;
         -o-border-radius: 10px;
         padding: 10px;
         font-weight: 600;
         cursor: pointer;
      }
   }
}
