.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1e4a89;
   min-height: 100%;
   height: 100vh;
   padding-inline: 20px;
   padding-top: 29px;
   gap: 15px;
   div {
      cursor: pointer;
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;

      :hover {
         transform: scale(1.1);
         -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
         -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
      }
   }
}
