


.tableContent {
  color: white;

  div {
     cursor: pointer;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
     display: flex;
     justify-content: center;
     padding-inline: 10px;
     padding: 8px 8px;
     font-family: sans-serif;
     font-weight: 700;

     &:hover {
        background-color: #828282;
     }
  }

  :nth-child(1) {
     border-bottom: 1px solid #fff;
     border-radius: 10px 0px 0px 0px;
     -webkit-border-radius: 10px 0px 0px 0px;
     -moz-border-radius: 10px 0px 0px 0px;
     -ms-border-radius: 10px 0px 0px 0px;
     -o-border-radius: 10px 0px 0px 0px;
  }
  :nth-child(2) {
     border-radius: 0px 0px 10px 10px;
     -webkit-border-radius: 0px 0px 10px 10px;
     -moz-border-radius: 0px 0px 10px 10px;
     -ms-border-radius: 0px 0px 10px 10px;
     -o-border-radius: 0px 0px 10px 10px;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 30vh;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  &__firstCard {
    display: flex;
    width: 249px;
    height: 130px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  &__secondCard {
    display: flex;
    width: 249px;
    height: 130px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }
}

.cards {
  display: flex;
  position: relative;
  left: 90px;
}

.main__firstCard > p {
  color: #2b2b2b;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.main__secondCard > p {
  color: #2b2b2b;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.body {
  display: flex;
  margin-top: 5px;
}
.secondBody {
  display: flex;
  margin-top: 5px;
}

.greenlogo {
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #d8ffd1;
  margin-bottom: 10px;
}

.redlogo {
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: rgba(181, 5, 30, 0.13);
  margin-bottom: 10px;
}

.redlogo > span {
  margin-left: 5px;
  color: #b5051e;
}

.greenlogo > span {
  margin-left: 5px;
  color: #2e6c47;
}

.body > p {
  color: #2e6c47;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 20px;
  padding-left: 20px;
  padding-top: 5px;
}

.secondBody > p {
  color: #b5051e;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 20px;
  padding-left: 20px;
  padding-top: 5px;
}
.number {
  color: #2b2b2b;

  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.newTalon {
  border-radius: 20px;
  background: #1e4a89;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 35px;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  border: none;
  position: relative;
  right: 70px;
  top: 20px;
}

// Table

.table{
  background: #f5f5f5;
  width: 100vw;
  height: 100%;
}