@import 'assets/styles/variables.scss';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#tablePopover {
   background-color: #b9babb !important;
   padding: 0 !important;
   border-radius: 10px 0px 10px 10px !important;
   -webkit-border-radius: 10px 0px 10px 10px !important;
   -moz-border-radius: 10px 0px 10px 10px !important;
   -ms-border-radius: 10px 0px 10px 10px !important;
   -o-border-radius: 10px 0px 10px 10px !important;
}

#cardPopover {
   background-color: #fff;
   padding: 0 !important;
   margin-top: 10px !important;
   border-radius: 0px 10px 10px 10px !important;
   -webkit-border-radius: 0px 10px 10px 10px !important;
   -moz-border-radius: 0px 10px 10px 10px !important;
   -ms-border-radius: 0px 10px 10px 10px !important;
   -o-border-radius: 0px 10px 10px 10px !important;
}

.ant-popover-arrow {
   display: none !important;
}

.ant-menu-item {
   background-color: transparent !important;
   display: flex;
   align-items: center;
}
.ant-menu-title-content {
   color: #fff;
   font-family: $Inter;
   font-size: 16px;
   font-weight: 700;
}

.dark_mode .ant-table-content,
.dark_mode .ant-table-cell,
.dark_mode .ant-table-thead,
.dark_mode .ant-table-title,
.dark_mode .ant-table-thead,
.dark_mode .ant-table-cell {
   background-color: #374b67 !important;
}

.dark_mode,
.ant-table-thead,
.ant-table-title {
   border-radius: 6px 6px 0 0 !important;
   -webkit-border-radius: 6px 6px 0 0 !important;
   -moz-border-radius: 6px 6px 0 0 !important;
   -ms-border-radius: 6px 6px 0 0 !important;
   -o-border-radius: 6px 6px 0 0 !important;
}

.default_mode .ant-table-content,
.default_mode .pant-table-cell,
.default_mode .ant-table-thead,
.default_mode .ant-table-title,
.default_mode .ant-table-thead,
.default_mode .ant-table-cell {
   background-color: #fff !important;
}

.ant-pagination-item {
   background: transparent !important;
   border: 1px solid #374b67 !important;
   color: #374b67 !important;
}

.ant-select-selector {
   background: transparent !important;
}
.ant-popover-inner {
   padding: 0 !important;
   border-radius: 7px !important;
   -webkit-border-radius: 7px !important;
   -moz-border-radius: 7px !important;
   -ms-border-radius: 7px !important;
   -o-border-radius: 7px !important;
}
::-webkit-scrollbar {
   width: 0.5px; /* Set the width of the scrollbar */
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: transparent;
}

.searchUndefinedBlock {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   color: #1e4a89;
   font-size: 20px;
   text-align: center;
   font-family: $Inter;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 20px;
   margin: 0;
}

.ant-select-selection-overflow-item {
   background: transparent !important;
}

.dark_modeOption {
   color: white;
}
.ant-select-selection-placeholder {
   color: lightgray !important;
}

.ql-container.ql-snow {
   border: none;
}

// .ql-toolbar {
//    display: none !important;
// }

.your-custom-class {
   display: none !important;
}

.ql-container.ql-snow {
   border: none !important;
}

.rdp-button {
   margin: 4px !important;
   border-radius: 10px !important;
   -webkit-border-radius: 10px !important;
   -moz-border-radius: 10px !important;
   -ms-border-radius: 10px !important;
   -o-border-radius: 10px !important;
}
.rdp-day_selected {
   background-color: #1e4a89 !important;
}
