@import '../variables.scss';

.modal {
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;

   opacity: 0;
   pointer-events: none;
   transition: 0.5s;

   &__content {
      border-radius: 12px;
      background-color: #fff;
      height: 510px;
      width: 400px;
   }
   &.active {
      pointer-events: all;
      opacity: 1;
   }

   &__label {
      font-size: 24px;
      font-family: sans-serif;
      font-weight: 500;
      padding-left: 30%;
      position: relative;
      top: 20px;
   }

   &__selects {
      width: 70%;
      position: relative;
      top: 50px;
      left: 15%;
      bottom: 20px;
      font-size: 24px;
      padding: 10px 0;
      border: 2 solid grey;
   }

   &__pickers {
      width: 70%;
      display: block;
      margin-top: 60px;
      margin-bottom: 20px;
      margin-left: 60px;
   }

   &__timePicker {
      width: 70%;
      margin-left: 60px;
   }

   &__button {
      width: 180px;
      height: 60px;
      border-radius: 20px;
      background: #1e4a89;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: #fff;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: 600;
      cursor: pointer;
      border: none;
      position: relative;
      top: 30px;
      left: 110px;
   }
}
